/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: 14px;
    color: #333;
    font-family: "Ubuntu";
}
html {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
/*common*/
html,
body {
    height: 100%;
}
h1 {font-size: 2.6em;}
a {text-decoration: none}
.container { min-height: 100%; position: relative; }
.clearer { clear: both; }
/*header*/
header {
    display: block;
    height: 50px;
    background: #333539;
}
header .logo {
    display: block;
    height: 100%;
    text-align: center;
}
header .logo .row {height: 100%; }
header .logo .col11 {height: 100%; display: table; }
header .logo a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    line-height: 50px;
    text-align: left;
}
header .rss {
    color: #fff;
    font-size: .9em;
    position: relative;
}
header .rss:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    margin-bottom: -7px;
    left: -20px;
    width: 14px;
    height:14px;
    background: url(../i/sprite.png) 0 0 no-repeat;
}
/*footer*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: #333539;
}
footer .grid, footer .row, footer .col3 {height: 100%}
footer .col3 {display: table; }
footer .logo-wrap {display: table-cell; vertical-align: middle; }
footer .logo{
    opacity: .5;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
}
footer .copy{
    color: #999;
    line-height: 85px;
}
/*content/grid*/
h1.blog-name {
    padding:65px 0 50px;
}
.main { display: inline-block; }
.grid {
    max-width: 970px;
    margin: 0 auto;
}
.content.grid {
    height: 100%;
    padding: 0 0 85px;
}
.content.grid img{
    max-width: 970px;
}
.row {
    clear: both;
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    float: left;
    margin: 0 1%;
}
.col1 { width: 5.5%; }
.col2 { width: 14%; }
.col3 { width: 22.5%; }
.col4 { width: 31%; }
.col5 { width: 39.5%; }
.col6 { width: 48%; }
.col7 { width: 56.5%; }
.col8 { width: 65%; }
.col9 { width: 73.5%; }
.col10 { width: 82%; }
.col11 { width: 90.5%; }
.col12 { width: 99%; margin: 0; }
@media all and (max-width: 768px) {
    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
        float: none;
        width: 99%;
    }
}
/*post*/
.post {
    display: inline-block;
    padding: 0 0 32px;
    margin: 0 0 30px;
    border-bottom: 1px solid #adbabe;
}
.post-date {
    color: #7698a2;
    font-size: .9em;
    padding: 0 0 15px;
}
.post-name .h2{
    font-size: 1.3em;
    padding: 0 0 10px;
}
.post-name .h2:hover{
    color: #2b94e1;
    text-decoration: underline;
}
.post-name .post-author {
    white-space: nowrap;
    display: inline-block;
    color: #98aaaf;
    font-size: .9em;
}
.post-content {
    display: inline-block;
    padding: 20px 0 0;
}
.post-img.col4 { margin: 0 1% 0 0; }
.post-img img {
    width: 100%;
    max-width: 235px;
}
/*pagination*/
.pagination {
    white-space: nowrap;
    display: inline-block;
    padding: 0 0 100px;
}
.pagination li{
    display: inline-block;
}
.pagination .item,.pagination li a, .pagination li.disabled span,.pagination li.active span{
    display: inline-block;
    background: #f5f5f5;
    margin: 0 0 5px;
    min-width: 26px;
    height: 26px;
    text-align: center;
    color: #2b94e1;
    font-family: Arial, "Ubuntu", "Sans Serif";
    font-size: .8em;
    line-height: 26px;
}
.pagination li a:hover {
    background: #fcfcfc;
}
.pagination li.active span{
    color: #fff;
    background: #2b94e1;
}
.author-ava {
    float: left;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    display: block;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.author-ava img {
    width: 30px;
    height: 30px;
}
.post.article .post-author {
    float: left;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
}
.post.article .post-date {
    color: #989898;
    font-size: .9em;
    padding: 0 0 15px;
    margin-top: 10px;
    margin-left: 10px;
}
.article .post-content {
    line-height: 178%;
}
.post.article {
    border-bottom-width: 0;
}
.back-to-list {
    color: #2b94e1;
    margin-bottom: 100px;
    display: inline-block;
}
.post-content img {
    margin-right: 10px;
}
.post-short-text {
    line-height: 1.3em;
}